= render 'home_section'
= render 'features_section'
= render 'showcase_web'
= render 'showcase_sonicpics'
= render 'showcase_profcast'
= render 'showcase_section'
-# = render 'pricing_section'
= render 'testimonials_section'
-# = render 'steps_section'
= render 'feature_section'
-# = render 'partners_section'
= render 'interested_section'

